In [4]:
    # Q1. Create one variable containing following type of data:
    #(i) string
    #(ii) list
    #(iii) float
    #(iv) tuple
   
        # (i) string
stringData="these is the string data"
print(type(stringData))
    
        #(ii) list
Datalist=[10,20,30,7+6j, "pw skill"]
print(type(Datalist))
        #(iii) float
floatData=45.8
print(type(floatData))
          #(iv) tuple
tupleData=("apple", "cherry", "Banana")
print( type(tupleData))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [9]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.
var1 = ''      # var1 has Data type String
var2 = '[ DS , ML , Python]'     # var2 has Data type string
var3 = [ 'DS' , 'ML' , 'Python' ]   # var3 has Data type list
var4 = 1   # var4 has data type String
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [13]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

#(i) / 
# these is an Division operator . the use of these operator is to perform Devision between two number
# example
a=4/2
print(a)

#(ii) %

# these is an Modulus operator . the use of these operator is to find remender after the Devision perform
# example
b=4%3
print(b)

#(iii) //
# the // operator is used for floor division or integer division. It performs division between two numbers and returns 
#the largest integer that is less than or equal to the result.
c=5//2
print(c)

#(iv) **

# these is an power operator . the use of these operator is to find power of first number to the second number i.e 2**3= 2*2*2=8
# example
d=2**3
print(d)

2.0
1
2
8

In [15]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.
listData=[10,20,30, "abc", 7+4j, 6.7, 1, 3 ,6 ,7]
for i in listData:
    print(type(i), "these is the Data type of ", i)

<class 'int'> these is the Data type of  10
<class 'int'> these is the Data type of  20
<class 'int'> these is the Data type of  30
<class 'str'> these is the Data type of  abc
<class 'complex'> these is the Data type of  (7+4j)
<class 'float'> these is the Data type of  6.7
<class 'int'> these is the Data type of  1
<class 'int'> these is the Data type of  3
<class 'int'> these is the Data type of  6
<class 'int'> these is the Data type of  7

In [29]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.
A=2
B=16
count=0;
if B%A==0:
    while(B%A==0):
        count=count+1
        B=B/A 
    print(" yes it is divisible and it can be divisible ",count, "times" )
else :
    print("No it can be divisible ")

 yes it is divisible and it can be divisible  4 times

In [31]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

listData=[1,2,3,4,5,6,7,8,9,10,12,21,34,56,45,23,66,12,77,89,99,44, 6,7,4]
print(len(listData))
for i in listData:
    if i%3==0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

25
1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
12  is divisible by 3
21  is divisible by 3
34  is not divisible by 3
56  is not divisible by 3
45  is divisible by 3
23  is not divisible by 3
66  is divisible by 3
12  is divisible by 3
77  is not divisible by 3
89  is not divisible by 3
99  is divisible by 3
44  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
4  is not divisible by 3

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

# immutable data types
#Immutable data types are those whose values cannot be changed once they are assigned.
#If you modify an immutable object, a new object is created with the modified value, rather than modifying the original object in place.
#Examples of immutable data types in Python include integers, floats, strings, and tuples.

# Examples of immutable data types
# Integer
x = 10
print(x)  # Output: 10
x = 20  # Creating a new object with a modified value
print(x)  # Output: 20

# String
s = "Hello"
print(s)  # Output: Hello
s += " World"  # Creating a new object with a modified value
print(s)  # Output: Hello World

# Tuple
t = (1, 2, 3)
print(t)  # Output: (1, 2, 3)
# Modifying a tuple creates a new tuple
t += (4, 5)
print(t)  # Output: (1, 2, 3, 4, 5)


#Mutable data types:

#Mutable data types are those whose values can be modified after they are assigned.
#If you modify a mutable object, the changes are reflected directly in the original object itself.
Examples of mutable data types in Python include lists, dictionaries, and sets.